/*background: #f7ff00;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
.warning{
    background: linear-gradient(90deg, #12e01b 0%, #1f3bc7 100%);
}
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: linear-gradient(90deg, #12e01b 0%, #1f3bc7 100%);
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    /*float: left;*/
}
li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
    }

p.centrado {
    text-align: center;
    }